In [1]:
n = input("enter the name")
a = int(input("enter the name"))
print(n*a)

vikkyvikkyvikkyvikkyvikky

In [7]:
a = 1
if a == 5 :
    print("Print Five")
elif a == 1 :
    print("One")
else:
    print("0")

One

In [11]:
a = 7
if a == 7:
    print("Khanchirke")
elif a == 6:
    print("swastik")
else:
    print("Vikash")

Khanchirke

In [14]:

a = int(input("Enter a number"))
if a <= 7:
    print("less than 7")
elif a>=7:
    print("Python")
else :
    print("Nothing")

less than 7

In [20]:
a = int(input("enter a number"))
if a == 1:
   print("Monday")
elif a == 2:
   print("Tuesday")
elif a == 3:
   print("Wednesday")
elif a == 3 :
   print("Thurday")
elif a == 4 :
   print("Friday")
elif a == 5 :
   print("Saturday")
else:
   print("Sunday")

Saturday

In [21]:
a = "Swastik"
type(a)

str

In [23]:
a = ("Vikash")
type(a)

str

In [26]:
msg= "Nothing to type here"
type(msg) #This is a comment

str

In [30]:
print(len(msg))
len("I can type anything i want")

20

26

In [32]:
msg.upper()

'NOTHING TO TYPE HERE'

In [34]:
msg.lower()

'nothing to type here'

strip(), split(), format()

In [37]:
name = "     vikash     "
print(type(name))

<class 'str'>

In [39]:
print(len(name))
print(len(name.strip()))

16
6

In [49]:
numbers = "2,3,4,5,6,7"
nos = numbers.split(",")
for item in nos :
    print(item)

2
3
4
5
6
7

In [58]:
sum = 0
numbers = ("3,5,7,9,11,13")
nos = numbers.split(",")
for item in nos :
    sum = sum + int(item)
    print(sum)
print(sum)

3
8
15
24
35
48
48

In [1]:
jeff = 2
numbers = ("3,4,7,9,13")
nos = numbers.split(",")
for item in nos :
    jeff = int(item) * jeff
    print(jeff)

6
24
168
1512
19656

format()

In [70]:
name = input("enter a number")
password = input("enter the password")
print("your username:{} and password entered is :{}". format(name,password))
# print(f"your username:{name} and password entered is :{password}")

your username:bbjk and password entered is :9846

In [69]:
name = input("enter a number")
password = input("enter the password")
print("your username:{} and password entered is :{}". format(name,password))

your username:viky and password entered is :222

In [74]:
number = (2,4,5)
sum = 0
for item in number :
    a = int(item)
    sum = sum + a
    
print(sum)

11

In [78]:
for 1 in range(10,20,1):
print(1)

SyntaxError: cannot assign to literal (325206659.py, line 1)

For

In [2]:
#find the sum of n multiples of 2 where n is user input

for i in range (10,20,1) :
    print(i)

10
11
12
13
14
15
16
17
18
19

LIST

In [6]:
listex = ["One","Two","Three","Four"]
print(listex)

['One', 'Two', 'Three', 'Four']

In [7]:
type(listex)

list

In [18]:
print(listex[3])

Four

In [27]:
if "Three" in listex:
    print("success")

success

In [28]:
listex.append("FIVE")

In [29]:
print(listex)

['One', 'Two', 'Three', 'Four', 'FIVE']

In [31]:
listex.pop(3)

'Four'

In [32]:
print(listex)

['One', 'Two', 'Three']

In [36]:
listex = ["Hundred","Two Hundred","Three Hundred","Four Hundred"]

In [37]:
print(listex)

['Hundred', 'Two Hundred', 'Three Hundred', 'Four Hundred']

In [39]:
listex.append('Thousand')

In [40]:
print(listex)

['Hundred', 'Two Hundred', 'Three Hundred', 'Four Hundred', 'Thousand']

In [41]:
listex.pop()

'Thousand'

In [42]:
print(listex)

['Hundred', 'Two Hundred', 'Three Hundred', 'Four Hundred']

In [46]:
listex

['Hundred', 'Two Hundred', 'Three Hundred', 'Four Hundred']

In [47]:
listex.remove("Hundred")

In [2]:
listex

NameError: name 'listex' is not defined

Sort

In [5]:
listex = ["one",'two','three']
print(listex)

['one', 'two', 'three']

In [6]:
listex.sort()

In [7]:
print(listex)

['one', 'three', 'two']

In [8]:
def nothing() :
    print("I am learning function")

In [10]:
print("nothin")

nothin

In [13]:
def fname() : 
    print("Anything")
    retVal = "Success"
    return retVal ,True

In [17]:
status,flag = fname()
print(status, flag)

Anything
Success True

In [2]:
n = input("enter the name")
a = int(input("enter the number"))
print(n*a)

vikashvikashvikashvikashvikashvikashvikashvikashvikashvikash