1. Load a csv , set new column name
2. Rename column names (1 column , multiple column)
3. Load a dataset , set one column as index column
4. Split your dataset into multiple with respect to rows and columns 
5. Load the different files and merge them to find the files

Question: -        
    Write a python programme with the following specification:     
        1.  There will be a function named "create_dataset" which will take a dictonary , filename and number of rows as arguments. The    dictonary is having the following structure:      
        {       
            "column" : [domains and values]     
            "column1" : [domain and values]       
                "       
        }     
        2.  Your function will select random values for each of the domains and create a row for you.     
        3.  The number of rows that has to be created is the parameter that has to be taken.       
        4.  Save the file with the required number of rows.     
        5.  Load this dataet using pandas and display basic information which includes the shap , size , datatype , info etc...

In [11]:
import random
no_of_rows = int(input("Enter the total number of rows: "))
filename = input("Enter the filename: ")
cars = {
        "mustang" : ["Shelby Mustang" , "Ford Mustang Mach 1" , "Ford Mustang" , "Ford Mustang Mach-E" , "Ford Mustang SVT Cobra" , "First Generation Ford Mustang" , "California Special Mustang"],
        "Ferrari" : ["Ferrari Roma" , "Ferrari F8" , "Ferrari 812" , "Ferrari 296" , "Ferrari Portfino" , "Ferrari GTC4" , "Ferrari 250 GTO"],
        "Lamborghini" : ["Lamborghini Aventador" , "Huracan" , "Lamborghini Urus" , "Lamborghini Gallardo" , "Lamborghini Murciélago" , "Sesto Elemento" , "Lamborghini Countach"],
        "maserati" : ["Quattroporte" , "GranTurismo" , "Levante" , "Ghibli" , "MC20" , "Maserati GranCabrio" , "Maserati 3500 GT"]
    }
def create_dataset(cars , no_of_rows , filename):
    with open(filename , "a+")as file:
        for i in cars:
            file.write(i+",")
        file.write("\n")
        for i in range(no_of_rows):
            for i in cars:
                n1 = random.randint(0,6)
                file.write(cars[i][n1]+",")
            file.write("\n")
    
create_dataset(cars , no_of_rows , filename)

In [15]:
import pandas as pd
df = pd.read_csv("cars.csv" , header = 0)
print(df.head())

                    Ford Mustang    Ferrari F8        Lamborghini Urus  \
0  First Generation Ford Mustang    Ferrari F8    Lamborghini Countach
1            Ford Mustang Mach-E    Ferrari F8   Lamborghini Aventador
2  First Generation Ford Mustang   Ferrari 296    Lamborghini Gallardo
3  First Generation Ford Mustang  Ferrari GTC4  Lamborghini Murciélago
4                        mustang       Ferrari             Lamborghini

       Levante  Unnamed: 4
0      Levante         NaN
1  GranTurismo         NaN
2         MC20         NaN
3      Levante         NaN
4     maserati         NaN

In [13]:
print(df.isnull())

   Ford Mustang  Ferrari F8  Lamborghini Urus  Levante  Unnamed: 4
0         False       False             False    False        True
1         False       False             False    False        True
2         False       False             False    False        True
3         False       False             False    False        True
4         False       False             False    False        True
5         False       False             False    False        True
6         False       False             False    False        True
7         False       False             False    False        True
8         False       False             False    False        True
9         False       False             False    False        True

In [14]:
print(df.isnull().sum())

Ford Mustang         0
Ferrari F8           0
Lamborghini Urus     0
Levante              0
Unnamed: 4          10
dtype: int64